option_settings:
   - namespace: aws:elasticbeanstalk:application:environment
     option_name: DB_HOST
     value: mysql.cawdjbdhtlzp.us-west-2.rds.amazonaws.com
   - option_name: DB_PORT
     value: 3306
   - option_name: DB_NAME
     value: CODEX
   - option_name: DB_USER
     value: thevladman
   - option_name: DB_PASS
     value: CTINmx2016.