option_settings:
   - namespace: aws:elasticbeanstalk:application:environment
     option_name: DB_HOST
     value: dbpruebas.cawdjbdhtlzp.us-west-2.rds.amazonaws.com
   - option_name: DB_PORT
     value: 3306
   - option_name: DB_DATABASE
     value: Codex_Pruebas
   - option_name: DB_USERNAME
     value: thevladman
   - option_name: DB_PASSWORD
     value: D0minique.