/* Custom Stylesheet */
/**

 */

.icon-block {
  padding: 0 15px;
}


#logo{
  position: absolute;
  top: 20px;
  right: 43%;
}


#inicio{
  position: absolute;
  top: 200px;
  right: 30%;
  background: white;
  width: 600px;
  border-radius: 13px 13px 13px 13px;
  -moz-border-radius: 13px 13px 13px 13px;
  -webkit-border-radius: 13px 13px 13px 13px;
  border: 0px solid #000000;
}

